<table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
	<tr><td class="introTitle">Olá, <%= @user.name %>, tudo bem?</td></tr>
	<tr>
		<td class="introContent">Você solicitou um link para alterar sua senha de acesso.<br /><br />

		<%= link_to "Cadastrar nova senha", @password_reset_url %><br /><br />

		Caso você não consiga acessar o link acima, utilize a URL abaixo: <br />
		<p><%= @password_reset_url %></p><br /><br />
		</td>
	</tr>
</table>
