<table border="0" cellpadding="0" cellspacing="0" width="640" align="center" summary="">
  <tr>
  	<td class="introContent">Olá, <%= @user.name %> <br />Tudo bem?</td>
  </tr>

  <% if @user.account_deactivated? %>
  	<tr>
  		<td>Obrigado por se cadastrar. Para confirmar o seu cadastro, por favor, utilize o link abaixo: <br />

  		<%= link_to "Ativar minha conta!", @account_confirmation_url %><br /><br />

  		Caso você não consiga acessar o link acima, utilize a URL abaixo: <br />

  		<p><%= @account_confirmation_url %></p><br /><br />
  		</td>
  	</tr>
  <% else %>
  	<tr>
  	  <td>Seu cadastro foi concluído com sucesso. Bem-vindo!<br /><br />
  	  </td>
  	</tr>
  <% end %>
</table>
